.base {
  display: grid;
  grid-template-rows: max-content auto max-content;

  @media (min-width: 900px) {
    height: 100vh;
    grid-template-columns: 1fr 61rem;
    grid-auto-rows: auto;
  }

  &__logo-container {
    grid-row: 1 / 2;

    @media (min-width: 900px) {
      width: 80%;
      grid-column: 1 / 2;
    }
  }

  &__logo {
    width: 27%;
    display: block;

    @media (min-width: 900px) {
      margin-top: 1rem;
    }
  }

  &__img-container {
    padding: 13rem;
    background-image: url(../images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    grid-row: 2 / 2;

    @media (min-width: 600px) {
      background-image: url(../images/hero-desktop.jpg);
      background-position: top 10% left;
      padding: 20rem;
    }

    @media (min-width: 900px) {
      background-image: url(../images/hero-desktop.jpg);
      grid-row: 1 / -1;
      grid-column: 2 / -1;
    }
  }

  &__content {
    text-align: center;

    @media (min-width: 900px) {
      text-align: left;
      grid-column: 1 / 2;
    }
  }

  &__heading {
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 3.9rem;
    line-height: 4.2rem;
    letter-spacing: 1.2rem;
    margin: 3.5rem 0 1.5rem 0;

    @media (min-width: 600px) {
      width: 50%;
      font-size: 6.4rem;
      line-height: 7rem;
      margin: 1.5rem auto;
    }

    @media (min-width: 900px) {
      letter-spacing: 1.8rem;
      margin: 4.5rem 0 1.8rem 0;
    }

    &--highlighted {
      color: $color-primary;
      font-weight: 300;
    }
  }

  &__text {
    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 4.5rem;

    @media (min-width: 600px) {
      width: 70%;
      margin: 4.5rem auto;
    }

    @media (min-width: 900px) {
      width: 75%;
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 2.8rem;
      margin: 0;
      margin-bottom: 4.5rem;
    }
  }

  &__form {
    position: relative;
    margin-bottom: 1rem;

    @media (min-width: 600px) {
      width: 70%;
      margin: 5rem auto 9.5rem auto;
    }

    @media (min-width: 900px) {
      width: 77%;
      margin: 0;
      margin-bottom: 1rem;
    }
  }

  &__error {
    text-align: left;
    color: $color-primary--dark;
    font-size: 1.4rem;
    margin-bottom: 5rem;
    padding-left: 2.5rem;

    @media (min-width: 900px) {
      padding-left: 3rem;
    }
  }

  &__input {
    width: 100%;
    color: $color-secondary;
    background-color: transparent;
    border: 0.1rem solid $color-primary;
    border-radius: 10rem;
    font-family: $font-primary;
    font-size: 1.4rem;
    padding: 1.5rem 2.5rem;

    @media (min-width: 900px) {
      font-size: 1.6rem;
      padding: 1.8rem 3rem;
    }
  }

  &__button {
    width: 20%;
    height: 100%;
    background-image: $gradient-primary;
    outline: none;
    border: none;
    border-radius: 5rem;
    box-shadow: rgba($color-primary, 0.5) 0px 15px 20px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;

    @media (hover: hover) {
      &:hover {
        background-image: $gradient-primary--hover;
      }
    }

    &--error-icon {
      display: none;
      position: absolute;
      top: 25%;
      right: 25%;
      animation: flash 0.4s ease-in-out infinite alternate;

      @media (min-width: 900px) {
        top: 30%;
      }
    }

    @media (min-width: 900px) {
      width: 22%;
    }

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        box-shadow: rgba($color-primary, 0.7) 0px 15px 20px;
      }
    }
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin: 7rem 0 0 0;

  @media (min-width: 900px) {
    text-align: left;
    margin: 10rem 0 0 0;
  }

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    color: $color-primary;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-secondary;
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
