.container {
  max-width: 85rem;
  margin: 0 auto;

  @media (min-width: 1100px) {
    width: 100%;
    max-width: unset;
    background-image: url(../images/bg-pattern-desktop.svg), $gradient-secondary;
    background-size: auto, auto;
    background-repeat: repeat;
  }
}

.base__container {
  padding: 3rem;

  @media (min-width: 1100px) {
    width: 80%;
    padding: 6rem 0 0 8rem;
    align-self: center;
    justify-self: center;
  }
}
